include wiz/admin/setting/navi

mixin content()
    .main-panel.container.p-0(style="height: calc(100% - 112px);")
        div(data-split-pane data-split-pane-properties="properties.root")
            div(data-split-pane-component data-width="250px")
                +setting_nav

            div(data-split-pane-divider data-width="1px")
            
            div(data-split-pane-component style="height: 100%; overflow: hidden;")
                .panel-editor(style="height: 100%; overflow: auto;")
                    .p-4.pr-6.pl-6
                        .page-header
                            .row.align-items-center
                                .col-auto
                                    h2.page-title Framework Setting
                                .col-auto.ml-auto.d-print-none
                                    button.btn.btn-light.ml-2(ng-click="event.save()") Save
                                    button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

                        .info-form.row.first-child
                            .col-md-4 
                                h4.mb-0 Host
                                span.text-muted Development server host. Defaults to '0.0.0.0'.
                            .col-md-8.pt-3
                                input.form-control.text-center(type="text" ng-model="data.framework.host" placeholder="0.0.0.0")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Port
                                span.text-muted Development server port. Default to '3000'.
                            .col-md-8.pt-3
                                input.form-control.text-center(type="text" ng-model="data.framework.port" placeholder="3000")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 app.secret_key
                                span.text-muted Session secret key for flask app. Default to 'season-wiz'.
                            .col-md-8.pt-3
                                input.form-control.text-center(type="text" ng-model="data.framework.secret_key" placeholder="season-wiz")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Watch Filter
                                span.text-muted Whitelist file name pattern for restart server. Defaults to '*'.
                            .col-md-8.pt-3
                                textarea.form-control.text-center(rows=5 ng-model="data.framework.watch.pattern" placeholder="*")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Watch Ignore
                                span.text-muted Blacklist file name pattern for restart server. Defaults to 'None'.
                            .col-md-8.pt-3
                                textarea.form-control.text-center(rows=5 ng-model="data.framework.watch.ignore" placeholder="websrc/app/config/*")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Mode
                                span.text-muted If you set development mode, UI always display develop code. Production mode display UI as latested deployed version.
                            .col-md-8.pt-3.text-center
                                select.form-select.text-center(ng-model="data.framework.dev")
                                    option(value='True') Development
                                    option(value='False') Production

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Log Level
                                span.text-muted If you don’t configure logging, default log level is usually ‘warning’.
                            .col-md-8.pt-3
                                select.form-select.text-center(ng-model="data.framework.log_level")
                                    option(value=0) DEBUG
                                    option(value=1) INFO
                                    option(value=2) DEV
                                    option(value=3) WARNING
                                    option(value=4) ERROR
                                    option(value=5) CRITICAL

                        .page-header.mt-6
                            .row.align-items-center
                                .col-auto
                                    h2.page-title WIZ Setting
                                .col-auto.ml-auto.d-print-none
                                    button.btn.btn-light.ml-2(ng-click="event.save()") Save
                                    button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

                        .info-form.row.first-child
                            .col-md-4 
                                h4.mb-0 Default Theme
                                span.text-muted If WIZ Interface not setup theme, use this default theme.
                            .col-md-8.pt-3
                                select.form-select.text-center(ng-model="data.wiz.theme.default")
                                    option(value='{{theme}}' ng-repeat="theme in themes") {{theme}}

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Category
                                span.text-muted Interface category. Seperated by line. Each lines defined as 'key: displayname'.
                            .col-md-8.text-center
                                textarea.form-control(rows=5 ng-model="data.wiz.category" placeholder="route: Route")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Top Menu
                                span.text-muted WIZ Admin interface's top menu list. Septerated by line.
                            .col-md-8.text-center
                                textarea.form-control(rows=5 ng-model="data.wiz.topmenus" placeholder="HOME: /")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Read File Support
                                span.text-muted Support filetype for read file as code in theme/model/resources directory.
                            .col-md-8.text-center
                                textarea.form-control(rows=10 ng-model="data.wiz.supportfile" placeholder=".py: python")

                        .page-header.mt-6
                            .row.align-items-center
                                .col-auto
                                    h2.page-title Access Control
                                .col-auto.ml-auto.d-print-none
                                    button.btn.btn-light.ml-2(ng-click="event.save()") Save
                                    button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

                        .info-form.row.first-child
                            .col-md-12
                                .text-muted Define access control for access wiz admin interface.
                                .text-muted you can use `framework` (flask app object) in code area.
                        
                        .info-form.row
                            .col-md-12.pt-3(style="height: 400px; overflow: hidden;")
                                div(ng-model="data.wiz.acl" ui-monaco-opts="monaco_properties" ui-monaco)

    .bg-dark.text-center(ng-if="!loaded" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99999; padding-top: 40vh;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")
                               
include wiz/theme/layout
+layout
