include wiz/admin/setting/navi

mixin content()
    .main-panel.container.p-0(style="height: calc(100vh - 112px);")
        div(data-split-pane data-split-pane-properties="properties.root")
            div(data-split-pane-component data-width="250px")
                +setting_nav

            div(data-split-pane-divider data-width="1px")
            
            div(data-split-pane-component style="height: calc(100vh - 112px); overflow: hidden;")
                .panel-editor(style="height: calc(100vh - 112px); overflow: hidden;")
                    .p-4.pr-6.pl-6
                        .page-header
                            .row.align-items-center
                                .col-auto
                                    h2.page-title= opt.title
                                .col-auto.ml-auto.d-print-none
                                    button.btn.btn-light.ml-2(ng-click="event.save()") Save
                                    button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

                        .info-form.row.first-child
                            .col-md-12
                                - each desc in opt.desc
                                    .text-muted= desc
                        
                        .info-form.row
                            .col-md-12.pt-3(style="height: calc(100vh - 312px); overflow: hidden;")
                                div(ng-model="data.framework.{$ opt.data $}" ui-monaco-opts="monaco_properties" ui-monaco)

    .bg-dark.text-center(ng-if="!loaded" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99999; padding-top: 40vh;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")
                               
include wiz/theme/layout
+layout
