mixin topbutton()
    .d-flex(ng-if="viewer.mode == 'folder'")
        input.mt-1(type="checkbox" ng-click="viewer.check_all(viewer.data)" ng-model="viewer.data.checked")
        span.ml-2.if-desktop.text-muted {{ viewer.data.path.substring(10) }}/{{viewer.data.name}}
        span.mr-auto &nbsp;

        button.btn.btn-sm.btn-light.pt-1.pb-1.cursor-pointer.mr-1(ng-click="modal.delete_bulk(viewer.data)" style="height: 20px;")
            i.fas.fa-trash
            span.ml-1.if-desktop Delete

        button.btn.btn-sm.btn-light.pt-1.pb-1.cursor-pointer.mr-1(ng-click="viewer.create(viewer.data, 'folder')" style="height: 20px;")
            i.fas.fa-folder-plus
            span.ml-1.if-desktop New Folder

        button.btn.btn-sm.btn-light.pt-1.pb-1.cursor-pointer.mr-1(ng-click="viewer.create(viewer.data, 'file')" style="height: 20px;")
            i.fas.fa-file
            span.ml-1.if-desktop New File

    .d-flex(ng-if="viewer.mode == 'editor'")
        span.ml-2.if-desktop.text-muted {{ viewer.data.path.substring(10) }}/{{viewer.data.name}}
        span.mr-auto &nbsp;

        button.btn.btn-sm.btn-light.pt-1.pb-1.cursor-pointer.mr-1(ng-click="viewer.save()" style="height: 20px;")
            i.fas.fa-save
            span.ml-1.if-desktop Save

        button.btn.btn-sm.btn-light.pt-1.pb-1.cursor-pointer(ng-click="viewer.parent()" style="height: 20px;" ng-if="status.view != 'folder'")
            i.fas.fa-times

    .d-flex(ng-if="viewer.mode == 'image'")
        span.ml-2.if-desktop.text-muted {{ viewer.data.path.substring(10) }}/{{viewer.data.name}}
        span.mr-auto &nbsp;

        button.btn.btn-sm.btn-light.pt-1.pb-1.cursor-pointer(ng-click="viewer.parent()" style="height: 20px;" ng-if="status.view != 'folder'")
            i.fas.fa-times

mixin footer()
    div

include wiz/theme/browser
include wiz/theme/layout
+layout