mixin codearea(tab)
    textarea.form-control(ng-if="options.tab.{$tab$}_val == 'html'" ng-model="info.html" ui-codemirror-opts="codemirror('pug')" ui-codemirror)
    textarea.form-control(ng-if="options.tab.{$tab$}_val == 'js'" ng-model="info.js" ui-codemirror-opts="codemirror('javascript')" ui-codemirror)
    textarea.form-control(ng-if="options.tab.{$tab$}_val == 'css'" ng-model="info.css" ui-codemirror-opts="codemirror('css')" ui-codemirror)
    textarea.form-control(ng-if="options.tab.{$tab$}_val == 'api'" ng-model="info.api" ui-codemirror-opts="codemirror('python')" ui-codemirror)
    .code-preview(ng-if="options.tab.{$tab$}_val == 'preview'" style="max-width: none; width: 100%; height: 100%;")
        iframe.preview(style="height: 100%;" ng-hide="status_drag == 'unselectable'")
        table(ng-if="status_drag == 'unselectable'" style="width: 100%; height: 100%;")
            tr 
                td(style="text-align: center; vertical-align: middle;")
                    .spinner-grow.text-blue(style="width: 120px; height: 120px;")

mixin codeselect(tab)
    - if tab != 'tab5'
        button.btn.btn-square.btn-sm.mr-1(ng-click="options.tab.{$tab$}_val = 'html'" ng-class="options.tab.{$tab$}_val == 'html' ? 'btn-white' : 'btn-dark'") HTML
        button.btn.btn-square.btn-sm.mr-1(ng-click="options.tab.{$tab$}_val = 'js'" ng-class="options.tab.{$tab$}_val == 'js' ? 'btn-white' : 'btn-dark'") JS
        button.btn.btn-square.btn-sm.mr-1(ng-click="options.tab.{$tab$}_val = 'css'" ng-class="options.tab.{$tab$}_val == 'css' ? 'btn-white' : 'btn-dark'") CSS
        button.btn.btn-square.btn-sm.mr-1(ng-click="options.tab.{$tab$}_val = 'api'" ng-class="options.tab.{$tab$}_val == 'api' ? 'btn-white' : 'btn-dark'") API
        button.btn.btn-square.btn-sm.mr-1(ng-click="options.tab.{$tab$}_val = 'preview'; event.iframe();" ng-class="options.tab.{$tab$}_val == 'preview' ? 'btn-white' : 'btn-dark'") Preview
    - else
        button.btn.btn-square.btn-sm.mr-1(ng-click="options.tab.{$tab$}_val = 'preview'; event.iframe();" ng-class="options.tab.{$tab$}_val == 'preview' ? 'btn-white' : 'btn-dark'") Preview

mixin content()
    .fixed-top
        header.navbar.navbar-expand-md.navbar-dark
            .container(style="max-width: none;")
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-menu')
                    span.navbar-toggler-icon

                a.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.pr-md-3
                    div(style='color: #7d7c83;')
                        img.mr-2(src='/resources/theme/img/logo-white.png' style='height: 32px;')

                #navbar-menu.navbar.navbar-collapse.collapse
                    ul.navbar-nav
                    .navbar-nav.flex-row.order-md-last.mr-2(style="align-items: center;")
                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="event.modal.delete()")
                                span.nav-link-title(style="font-size: 14px;") 삭제하기

                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="event.save()")
                                span.nav-link-title(style="font-size: 14px;") 저장하기

                        li.nav-item.p-0
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(href='/wiz/widget/list/{{info.category}}')
                                span.nav-link-title.bold(style="font-size: 14px;")
                                    i.fas.fa-times

    .panel-layout(class="{{options.sidemenu ? 'sidemenu-on' : 'sidemenu-off'}}" ng-class="status_drag")
        .panel-menu.bg-dark
            .menu-layout.p-3
                h3.text-white.mb-3 
                    i.fas.fa-bars.mr-2(ng-click="event.toggle.sidemenu()")
                    span.minify Component

                .card.card-sm.mb-3.minify
                    .card-body
                        label.form-label Title
                        input.form-control(type='text' placeholder='App 제목' ng-model="info.title")

                .card.card-sm.mb-3.minify
                    .card-body
                        label.form-label Namespace
                        input.form-control(type='text' placeholder='NAMESPACE' ng-model="info.namespace")

                .card.card-sm.mb-3.minify
                    .card-body
                        label.form-label Category
                        select.form-select(ng-model="info.category")
                            option(value="{{c}}" ng-repeat="c in category") {{c}}

                .card.card-sm.mb-3.minify
                    .card-body
                        label.form-label Description
                        textarea.form-control(ng-model="info.content" rows=4)

                .hr.bg-white.minify
                
                h3.text-white.minify Code Layout

                .text-center.mb-4
                    .layout-selector.p-2(ng-class="options.layout == 1 ? 'active' : ''" ng-click="options.layout = 1")
                        .layout-icon
                            .layout-row
                                .layout-column

                    .layout-selector.p-2(ng-class="options.layout == 2 ? 'active' : ''" ng-click="options.layout = 2")
                        .layout-icon
                            .layout-row
                                .layout-column
                                .layout-column

                    .layout-selector.p-2(ng-class="options.layout == 3 ? 'active' : ''" ng-click="options.layout = 3")
                        .layout-icon
                            .layout-row
                                .layout-column
                                .layout-column
                                .layout-column
                    
                    .layout-selector.p-2(ng-class="options.layout == 4 ? 'active' : ''" ng-click="options.layout = 4")
                        .layout-icon
                            .layout-row
                                .layout-column
                                .layout-column
                                .layout-column
                                .layout-column

                    .layout-selector.p-2(ng-class="options.layout == 5 ? 'active' : ''" ng-click="options.layout = 5; event.iframe();")
                        .layout-icon.rows-2
                            .layout-row
                                .layout-column
                            .layout-row
                                .layout-column

                    .layout-selector.p-2(ng-class="options.layout == 6 ? 'active' : ''" ng-click="options.layout = 6; event.iframe();")
                        .layout-icon.rows-2
                            .layout-row
                                .layout-column
                                .layout-column
                            .layout-row
                                .layout-column

                    .layout-selector.p-2(ng-class="options.layout == 7 ? 'active' : ''" ng-click="options.layout = 7; event.iframe();")
                        .layout-icon.rows-2
                            .layout-row
                                .layout-column
                                .layout-column
                                .layout-column
                            .layout-row
                                .layout-column

                    .layout-selector.p-2(ng-class="options.layout == 8 ? 'active' : ''" ng-click="options.layout = 8; event.iframe();")
                        .layout-icon.rows-2
                            .layout-row
                                .layout-column
                                .layout-column
                                .layout-column
                                .layout-column
                            .layout-row
                                .layout-column
                    
                .hr.bg-white.minify

                .button-container
                    button.btn.btn-white.btn-block.mb-3(ng-click="event.select_file()") 
                        i.fas.fa-upload
                        span.minify.ml-2 Import

                    a.btn.btn-white.btn-block.mb-3(href="/wiz/export/{{ info.id }}" target="_blank")
                        i.fas.fa-download
                        span.minify.ml-2 Export

                .display-none(style="display: none;")
                    input#import-file(type="file" accept=".json,application/json")
                
        .panel-context
            .p-0.pt-2.bg-dark
                table.w-100.code-tabs.code-tabs-top
                    tr
                        td.tab-1.text-center(ng-if="[1,2,3,4,5,6,7,8].includes(options.layout)")
                            +codeselect('tab1')
                        td.tab-2.text-center(ng-if="[2,3,4,6,7,8].includes(options.layout)")
                            +codeselect('tab2')
                        td.tab-3.text-center(ng-if="[3,4,7,8].includes(options.layout)")
                            +codeselect('tab3')
                        td.tab-4.text-center(ng-if="[4,8].includes(options.layout)")
                            +codeselect('tab4')

            .code-container(ng-class="[5,6,7,8].includes(options.layout) ? 'h-half' : 'h-full'")
                table.w-100.code-table
                    tr.code-tr.code-top
                        td.tab-1.bg-white(ng-if="[1,2,3,4,5,6,7,8].includes(options.layout)")
                            .code-input(style='height: 100%;')
                                +codearea('tab1')

                        td.gutter.g-1(ng-if="[2,3,4,6,7,8].includes(options.layout)" target="tab-1" ng-drag="event.drag")
                        td.tab-2.bg-white(ng-if="[2,3,4,6,7,8].includes(options.layout)")
                            .code-input(style='height: 100%;')
                                +codearea('tab2')

                        td.gutter.g-2(ng-if="[3,4,7,8].includes(options.layout)" target="tab-2" ng-drag="event.drag")
                        td.tab-3.bg-white(ng-if="[3,4,7,8].includes(options.layout)")
                            .code-input(style='height: 100%;')
                                +codearea('tab3')

                        td.gutter.g-3(ng-if="[4,8].includes(options.layout)" target="tab-3" ng-drag="event.drag")
                        td.tab-4.bg-white(ng-if="[4,8].includes(options.layout)")
                            .code-input(style='height: 100%;')
                                +codearea('tab4')

                    tr.gutter.g-t(ng-if="[5,6,7,8].includes(options.layout)" target="tab-5" ng-drag="event.drag")
                        td(colspan="{$ng('(options.layout - 4) + (options.layout - 5)')$}")

                    tr.code-tr.code-bottom(ng-if="[5,6,7,8].includes(options.layout)")
                        td.tab-5(colspan="{$ng('(options.layout - 4) + (options.layout - 5)')$}")
                            .code-input(style='height: 100%;')
                                +codearea('tab5')

            .p-0.pt-2.bg-dark
                table.w-100.code-tabs
                    tr
                        td.tab-5.text-right(ng-if="[5,6,7,8].includes(options.layout)")
                            +codeselect('tab5')
    
    #modal-delete.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Delete
                    div Once deleted, it cannot be restored. Are you sure you want to delete?
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-danger(type='button' ng-click="event.delete()") Delete

include wiz/theme/layout-empty
+layout
