mixin content()
    .container.pt-4.pb-4
        .page-header
            .row.align-items-center
                .col-auto
                    .page-pretitle SEASON WIZ
                    h2.page-title Interface Management

                .col-auto.ml-auto.d-print-none
                    .d-flex
                        input.form-control(type="text" placeholder="검색" ng-model="search.text" ng-enter="event.search()" style="width: 240px;")
                        a.btn.btn-light.ml-2.d-none.d-sm-inline-block(href='#' style="width: 140px;" ng-click="event.search()")
                            i.mr-2.fas.fa-search
                            | Search
                        a.btn.btn-light.pr-4.pl-4.ml-2(href='/wiz/widget/editor/new?category={$ category $}' style="width: 140px;") 
                            i.mr-2.fas.fa-plus
                            | Create

        .overflow-x
            table.table.board-table.table-hover
                thead 
                    tr
                        th.text-center.width-1 ID
                        th.text-center.width-1 Category
                        th.text-center Title
                        th.text-center.width-2 User
                        th.text-center.width-1 Route
                        th.text-center.width-2 Created

                tbody
                    tr(ng-repeat="item in list")
                        td.width-1
                            a(ng-href="/wiz/widget/editor/{{item.id}}") {{item.namespace ? item.namespace : item.id.substring(0,8)}}
                        td.text-center.width-1
                            a(ng-href="/wiz/widget/editor/{{item.id}}") {{item.category}}
                        td
                            a(ng-href="/wiz/widget/editor/{{item.id}}") {{item.title}}
                        td.text-center.width-2 {{item.user_id}}
                        td.text-center.width-1
                            span.badge.bg-green(ng-if="item.route")
                        td.text-center.width-2 {{item.created.substring(0,10)}}
            
            .pagenation.text-center(ng-if="facet.pages.length > 0")
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="event.page(1)")
                    i.fas.fa-angle-double-left
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="event.page(search.page*1-1)")
                    i.fas.fa-angle-left

                button.btn.btn-square.btn-sm(ng-repeat="page in facet.pages" ng-class="page == search.page ? 'btn-dark' : ''" ng-click="event.page(page)") {{page}}

                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="event.page(search.page*1+1)")
                    i.fas.fa-angle-right
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="event.page(facet.lastpage)")
                    i.fas.fa-angle-double-right
                
                       
include wiz/theme/layout
+layout
