.wiz-page {
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.loading-zone {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;

    .loading-zone-container {
        width: 100%;
        height: 100%;
        position: relative;
    }
}