.socket
    .gel.center-gel
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c1.r1
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c2.r1
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c3.r1
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c4.r1
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c5.r1
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c6.r1
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c7.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c8.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c9.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c10.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c11.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c12.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c13.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c14.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c15.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c16.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c17.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c18.r2
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c19.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c20.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c21.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c22.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c23.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c24.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c25.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c26.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c28.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c29.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c30.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c31.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c32.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c33.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c34.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c35.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c36.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
    .gel.c37.r3
        .hex-brick.h1
        .hex-brick.h2
        .hex-brick.h3
