mixin content()
    .container.pt-4.pb-4(style="max-width: 920px;")
        .page-header
            .row.align-items-center
                .col-auto
                    .page-pretitle SEASON WIZ
                    h2.page-title Branch

                .col-auto.ml-auto.d-print-none
                    .d-flex
                        select.form-select.ml-2(ng-model="branch.id" ng-change="branch.change(branch.id)" style="width: 160px; display: inline-block;")
                            option(value="" ng-if="!branch.id") select branch
                            option(ng-repeat="b in branch.list" value="{{b}}") {{b}}

                        a.btn.btn-light.pr-4.pl-4.ml-2(style="width: 140px;" ng-click="modal.create()") 
                            i.mr-2.fas.fa-code-branch
                            | Create

        .overflow-x
            table.table.board-table.table-hover.mb-0
                thead 
                    tr
                        th.text-left.width-1.pr-2.pl-2 Category
                        th.text-left.width-1.pr-2.pl-2 Namespace
                        th.text-left.pr-2.pl-2 Title
                        th.text-center.width-2.pr-2.pl-2 Updated

                tbody
                    tr(ng-if="list.length == 0")
                        td.text-center(colspan=4) App is not finded. create App.

                    tr(ng-repeat="item in list" ng-if="!item.hide")
                        td.text-left.width-1.pr-2.pl-2 {{item.package.category}}
                        td.width-1.pr-2.pl-2
                            a(ng-href="/wiz/admin/workspace/apps/editor/{{item.package.id}}") {{item.package.namespace ? item.package.namespace : item.package.id.substring(0,8)}}
                        td
                            a(ng-href="/wiz/admin/workspace/apps/editor/{{item.package.id}}") {{item.package.title}}
                        td.text-center.width-2.pr-2.pl-2 {{item.package.updated.substring(0,10)}}      

    #modal-new-branch.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Branch Name
                    div.mb-4
                        input.form-control(type="text" ng-model="modal.data.create.branchname" placeholder="Branch Name")
                    
                    .modal-title Base Branch
                    div 
                        select.form-select(ng-model="modal.data.create.basebranch")
                            option(value="" ng-if="!modal.data.create.basebranch") select branch
                            option(ng-repeat="b in branch.list" value="{{b}}") {{b}}
                    
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-dark(type='button' ng-click="event.create(modal.data.create.branchname, modal.data.create.basebranch)") Create
                       
include wiz/theme/layout
+layout
