title SEASON WIZ

meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(name='msapplication-TileColor' content='#206bc4')
meta(name='theme-color' content='#206bc4')
meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='mobile-web-app-capable' content='yes')
meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')

link(rel="shortcut icon" href="/resources/favicon.ico")
link(data-n-head="ssr" rel="apple-touch-icon" href="/resources/webinar.png")

//- fontawesome
link(href='/resources/themes/default/libs/fontawesome/css/all.min.css' rel='stylesheet')

script(src='/resources/themes/default/libs/tabler/dist/libs/jquery/dist/jquery.slim.min.js')
script(src='/resources/themes/default/libs/jquery/jquery-3.5.1.min.js')
script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
script(src='/resources/themes/default/libs/moment/moment-with-locales.min.js')

//- tabler
link(href='/resources/themes/default/libs/tabler/dist/css/tabler.min.css' rel='stylesheet')
link(href='/resources/themes/default/libs/tabler/dist/css/tabler-flags.min.css' rel='stylesheet')
link(href='/resources/themes/default/libs/tabler/dist/css/tabler-payments.min.css' rel='stylesheet')
link(href='/resources/themes/default/libs/tabler/dist/css/tabler-buttons.min.css' rel='stylesheet')
link(href='/resources/themes/default/libs/tabler/dist/css/demo.min.css' rel='stylesheet')

//- chartjs
script(src='/resources/themes/default/libs/chartjs/Chart.min.js')

//- toastr
link(href='/resources/themes/default/libs/toastr/toastr.min.css' rel='stylesheet')
script(src='/resources/themes/default/libs/toastr/toastr.min.js')

//- tinymce
script(src='/resources/themes/default/libs/tinymce/tinymce.min.js')

//- calendar
script(src="/resources/themes/default/libs/tabler/dist/libs/flatpickr/dist/flatpickr.min.js")
script(src="/resources/themes/default/libs/tabler/dist/libs/flatpickr/dist/plugins/rangePlugin.js")
script(src="/resources/themes/default/lang/flatpickr.js")

link(href="/resources/themes/default/libs/tabler/dist/libs/fullcalendar/core/main.min.css" rel="stylesheet")
link(href="/resources/themes/default/libs/tabler/dist/libs/fullcalendar/daygrid/main.min.css" rel="stylesheet")
link(href="/resources/themes/default/libs/tabler/dist/libs/fullcalendar/timegrid/main.min.css" rel="stylesheet")
link(href="/resources/themes/default/libs/tabler/dist/libs/fullcalendar/list/main.min.css" rel="stylesheet")
link(href="/resources/themes/default/libs/tabler/dist/libs/flatpickr/dist/flatpickr.min.css" rel="stylesheet")

//- angular
script(src='/resources/themes/default/libs/angular/angular.min.js')
script(src='/resources/themes/default/libs/angular/angular-sanitize.js')
script(src='/resources/themes/default/libs/angular/ui-monaco.js')
script(src='/resources/themes/default/libs/angular/ui-tinymce.js')
script(src='/resources/themes/default/libs/angular/ui-calendar.js')
script(src='/resources/themes/default/libs/angular/sortable.js')

//- theme
link(href='/resources/themes/default/less/theme.less' rel='stylesheet')

script(src='/resources/themes/default/js/base.js')
script(src='/resources/themes/default/js/drag.js')
script(src='/resources/themes/default/js/shortcut.js')
script(src='/resources/themes/default/js/app.js')

script(src='/resources/themes/default/libs/socketio/socket.io.js')