doctype 5

html(ng-app="app")
    head
        {$ wiz.theme('default', 'base', 'header.pug') | safe $}
        
    body.antialiased
        .page
            .preview
                {$ view | safe $}

            style.
                html,
                body {
                    overflow: auto;
                }

                body {
                    padding: 32px;
                }

                .page {
                    background: transparent;
                }
