.editor-info([class]="bgcolor")
    .btn-group.area-round
        .btn.btn-primary(
            *ngFor="let item of ['gray', 'white', 'black'];let i = index",
            [class.active]="item === bgcolor",
            (click)="change(item)"
        ) {{item}}

    .img-wrap(*ngIf="src", [style.maxWidth]="width+'px'", [style.maxHeight]="height+'px'")
        img([src]="src", (load)="load($event)")
