.text-primary, .text-blue {
    color: var(--wiz-color-blue) !important;
}

.text-highlight, .text-red {
    color: var(--wiz-color-red) !important;
}

.text-light {
    color: var(--wiz-color-light) !important;
}