include wiz/admin/setting/navi

mixin content()
    .main-panel.container.p-0(style="height: calc(100% - 112px);")
        div(data-split-pane data-split-pane-properties="properties.root")
            div(data-split-pane-component data-width="250px")
                +setting_nav

            div(data-split-pane-divider data-width="1px")
            
            div(data-split-pane-component style="height: 100%; overflow: hidden;")
                .panel-editor(style="height: 100%; overflow: auto;")
                    .p-4.pr-6.pl-6
                        .page-header
                            .row.align-items-center
                                .col-auto
                                    h2.page-title WIZ Setting
                                .col-auto.ml-auto.d-print-none
                                    button.btn.btn-light.ml-2(ng-click="event.save()") Save
                                    button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

                        .info-form.row.first-child
                            .col-md-4 
                                h4.mb-0 Dev Tools
                                span.text-muted Development tools includes realtime code sharing, auto reload using socket. Defaults to 'False'.
                            .col-md-8.pt-3.text-center
                                input(type="checkbox" ng-model="data.wiz.devtools" ng-true-value="'True'" ng-false-value="'False'")

                        .info-form.row.first-child
                            .col-md-4 
                                h4.mb-0 Database Type
                                span.text-muted Database type for wiz components. default `sqlite3`
                            .col-md-8.pt-3
                                select.form-select.text-center(ng-model="data.wiz.database.type")
                                    option(value='sqlite3') sqlite3
                                    option(value='mysql') MySQL (MariaDB)

                        div(ng-if="data.wiz.database.type == 'mysql'")
                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database Host
                                    span.text-muted MySQL Host
                                .col-md-8.pt-3
                                    input.form-control.text-center(type="text" ng-model="data.wiz.database.host" placeholder="127.0.0.1")
                            
                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database Port
                                    span.text-muted MySQL Port
                                .col-md-8.pt-3
                                    input.form-control.text-center(type="number" ng-model="data.wiz.database.port" placeholder="3306")

                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database User
                                    span.text-muted MySQL User
                                .col-md-8.pt-3
                                    input.form-control.text-center(type="text" ng-model="data.wiz.database.user" placeholder="")
                            
                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database Password
                                    span.text-muted MySQL Password
                                .col-md-8.pt-3
                                    input.form-control.text-center(type="password" ng-model="data.wiz.database.password" placeholder="")
                            
                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database Name
                                    span.text-muted MySQL Database Name
                                .col-md-8.pt-3
                                    input.form-control.text-center(type="text" ng-model="data.wiz.database.database" placeholder="wiz")

                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Table
                                    span.text-muted MySQL Table Name
                                .col-md-8.pt-3
                                    input.form-control.text-center(type="text" ng-model="data.wiz.table" placeholder="wiz")

                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database charset
                                    span.text-muted MySQL Character Set
                                .col-md-8.pt-3
                                    input.form-control.text-center(type="text" ng-model="data.wiz.database.charset" placeholder="utf8")


                        .info-form.row.first-child
                            .col-md-12
                                h4.mr-2 Build Handler
                                .text-muted Custom defination for handling build flask app and socketio. 
                                .text-muted you can use `app` (flask app object) and `socketio` in code area.
                        
                        .info-form.row
                            .col-md-12.pt-3(style="height: 60vh; overflow: hidden;")
                                div(ng-model="data.framework.build" ui-monaco-opts="monaco_properties" ui-monaco)

                        .info-form.row.first-child
                            .col-md-12
                                h4.mr-2 Error Handler
                                .text-muted Custom defination for handling error. `def error(framework, err)`. 
                                .text-muted you can use `framework` (season flask object) and err (Python Exception Object) in code area.

                        .info-form.row
                            .col-md-12.pt-3(style="height: 60vh; overflow: hidden;")
                                div(ng-model="data.framework.on_error" ui-monaco-opts="monaco_properties" ui-monaco)

                        .info-form.row.first-child
                            .col-md-12
                                h4.mr-2 Resource Handler
                                .text-muted Custom defination for handling resources. 
                                .text-muted define `def build_resource(resource_dirpath, resource_filepath): return FlaskResponse` method in code area.

                        .info-form.row
                            .col-md-12.pt-3(style="height: 60vh; overflow: hidden;")
                                div(ng-model="data.framework.build_resource" ui-monaco-opts="monaco_properties" ui-monaco)

                        .text-center.mt-4
                            button.btn.btn-light.ml-2(ng-click="event.save()") Save
                            button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

    .bg-dark.text-center(ng-if="!loaded" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99999; padding-top: 40vh;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")
                               
include wiz/theme/layout
+layout
