include wiz/admin/setting/navi

mixin content()
    .main-panel.container.p-0(style="height: calc(100% - 112px);")
        div(data-split-pane data-split-pane-properties="properties.root")
            div(data-split-pane-component data-width="250px")
                +setting_nav

            div(data-split-pane-divider data-width="1px")
            
            div(data-split-pane-component style="height: 100%; overflow: hidden;")
                .panel-editor(style="height: 100%; overflow: auto;")
                    .p-4.pr-6.pl-6
                        .page-header
                            .row.align-items-center
                                .col-auto
                                    h2.page-title WIZ Setting
                                .col-auto.ml-auto.d-print-none
                                    button.btn.btn-light.ml-2(ng-click="event.save()") Save
                                    button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

                        .info-form.row.first-child
                            .col-md-4 
                                h4.mb-0 Dev Tools
                                span.text-muted Development tools includes realtime code sharing, auto reload using socket. Defaults to 'False'.
                            .col-md-8.text-center
                                input(type="checkbox" ng-model="data.wiz.devtools" ng-true-value="'True'" ng-false-value="'False'")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Category
                                span.text-muted Interface category. Seperated by line. Each lines defined as 'key: displayname'.
                            .col-md-8.text-center
                                textarea.form-control(rows=5 ng-model="data.wiz.category" placeholder="route: Route")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Top Menu
                                span.text-muted WIZ Admin interface's top menu list. Septerated by line.
                            .col-md-8.text-center
                                textarea.form-control(rows=5 ng-model="data.wiz.topmenus" placeholder="HOME: /")

                        .info-form.row
                            .col-md-4 
                                h4.mb-0 Default Theme
                                span.text-muted If WIZ Interface not setup theme, use this default theme.
                            .col-md-8.pt-3
                                select.form-select.text-center(ng-model="data.wiz.theme.default")
                                    option(value='{{theme}}' ng-repeat="theme in themes") {{theme}}

                        //- .info-form.row
                        //-     .col-md-4 
                        //-         h4.mb-0 variable_start_string 
                        //-         span.text-muted variable_start_string for pug. Default to '{&dollar;'
                        //-     .col-md-8
                        //-         input.form-control.text-center(type="text" ng-model="data.wiz.pug.variable_start_string" placeholder="{&dollar;")

                        //- .info-form.row
                        //-     .col-md-4 
                        //-         h4.mb-0 variable_end_string 
                        //-         span.text-muted variable_end_string for pug. Default to '&dollar;}'
                        //-     .col-md-8
                        //-         input.form-control.text-center(type="text" ng-model="data.wiz.pug.variable_end_string" placeholder="&dollar;}")


                        .page-header.mt-6
                            .row.align-items-center
                                .col-auto
                                    h2.page-title Database Setting
                                .col-auto.ml-auto.d-print-none
                                    button.btn.btn-light.ml-2(ng-click="event.save()") Save
                                    button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

                        div
                            .info-form.row.first-child
                                .col-md-4 
                                    h4.mb-0 Database Host
                                    span.text-muted MySQL Host. Defaults to '127.0.0.1'.
                                .col-md-8
                                    input.form-control.text-center(type="text" ng-model="data.wiz.database.host" placeholder="127.0.0.1")
                            
                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database Port
                                    span.text-muted MySQL Port. Defaults to '3306'.
                                .col-md-8
                                    input.form-control.text-center(type="number" ng-model="data.wiz.database.port" placeholder="3306")

                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database User
                                    span.text-muted MySQL User. Defaults to ''.
                                .col-md-8
                                    input.form-control.text-center(type="text" ng-model="data.wiz.database.user" placeholder="")
                            
                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database Password
                                    span.text-muted MySQL Password. Defaults to ''.
                                .col-md-8
                                    input.form-control.text-center(type="password" ng-model="data.wiz.database.password" placeholder="")
                            
                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database Name
                                    span.text-muted MySQL Database Name. Defaults to 'wiz'.
                                .col-md-8
                                    input.form-control.text-center(type="text" ng-model="data.wiz.database.database" placeholder="wiz")

                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Table Prefix
                                    span.text-muted MySQL Table Name. Defaults to 'wiz'.
                                .col-md-8
                                    input.form-control.text-center(type="text" ng-model="data.wiz.database.prefix" placeholder="wiz")

                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Database charset
                                    span.text-muted MySQL Character Set
                                .col-md-8
                                    input.form-control.text-center(type="text" ng-model="data.wiz.database.charset" placeholder="utf8")

                            .info-form.row
                                .col-md-4 
                                    h4.mb-0 Connection Test
                                    span.text-muted MySQL Connection Test
                                .col-md-8
                                    button.btn.btn-dark.btn-block(ng-click="event.connect_test()") Test


                        .page-header.mt-6
                            .row.align-items-center
                                .col-auto
                                    h2.page-title Access Control
                                .col-auto.ml-auto.d-print-none
                                    button.btn.btn-light.ml-2(ng-click="event.save()") Save
                                    button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

                        .info-form.row.first-child
                            .col-md-12
                                .text-muted Define access control for access wiz admin interface.
                                .text-muted you can use `framework` (flask app object) in code area.
                        
                        .info-form.row
                            .col-md-12.pt-3(style="height: 400px; overflow: hidden;")
                                div(ng-model="data.wiz.acl" ui-monaco-opts="monaco_properties" ui-monaco)


                        .page-header.mt-6
                            .row.align-items-center
                                .col-auto
                                    h2.page-title User ID
                                .col-auto.ml-auto.d-print-none
                                    button.btn.btn-light.ml-2(ng-click="event.save()") Save
                                    button.btn.btn-light.ml-2(ng-click="event.apply()") Apply

                        .info-form.row.first-child
                            .col-md-12
                                .text-muted define user id for wiz admin interface.
                                .text-muted you must define function name as `def uid(framework): return uid` .

                        .info-form.row
                            .col-md-12.pt-3(style="height: 400px; overflow: hidden;")
                                div(ng-model="data.wiz.uid" ui-monaco-opts="monaco_properties" ui-monaco)


    .bg-dark.text-center(ng-if="!loaded" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99999; padding-top: 40vh;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")
                               
include wiz/theme/layout
+layout
