<ng-container *ngIf="loaded">
    <div class="tree" [class.tree-dropzone]="dragToItem && !dragToItem.id">
        <ng-container *ngFor="let node of getChildren()">
            <ng-container [ngTemplateOutlet]="treeNode" [ngTemplateOutletContext]="{ $implicit: node }"></ng-container>
        </ng-container>
    </div>
</ng-container>

<ng-template #treeNode let-data="">
    <div class="tree" [class.tree-dropzone]="dragToItem && data.id == dragToItem.id" *ngIf="config.isShow(data)">
        <div draggable="true" (drop)="data.drop($event)" (dragend)="data.dragend($event)" (dragover)="data.dragover($event)">
            <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ $implicit: data }"></ng-container>
        </div>
        <ng-container *ngIf="data.getChildren().length > 0">
            <div class="tree-root">
                <ng-container *ngFor="let child of data.getChildren()" [ngTemplateOutlet]="treeNode" [ngTemplateOutletContext]="{ $implicit: child }"></ng-container>
            </div>
        </ng-container>
    </div>
</ng-template>

