.navbar {
    border-bottom: 1px solid var(--wc-border);
    background: #fff;
    
    .container {
        justify-content: initial;
        padding: 0;
    }

    .navbar-brand {
        img {
            height: 36px;
        }
    }

    .navbar-toggler {
        color: var(--wc-blue);
        margin-right: 12px;
    }

    .nav-link {
        color: var(--wc-text);
    }

    @media (min-width: 769px) {
        .menu-container {
            width: 100%;

            .wiz-top-menu {
                display: flex;
                justify-content: end;
                padding-top: 16px;

                .wiz-menu-item {
                    min-width: 64px;
                    padding-left: 16px;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    font-size: 14px;
                }
            }

            .wiz-main-menu {
                display: flex;
                justify-content: end;
                padding: 14px 24px;
                padding-bottom: 4px;

                .nav-item {
                    min-width: 108px;
                    padding-right: 12px;
                    padding-left: 12px;
                    font-size: 18px;

                    .nav-link {
                        font-weight: 1000;
                        font-family: 'main-eb';
                    }

                    .active {
                        color: var(--wc-blue);
                    }
                }
            }
        }
    }

    a {
        color: var(--wc-text);
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .navbar-brand {
            img {
                height: 32px;
            }
        }

        .wiz-top-menu {
            padding-top: 0;
        }
    }
}