.editor-info
    .editor-info-container.area-round
        h3 App Info

        .form-group.row
            .col-3
                label.form-label.col-form-label App ID
            .col
                input.form-control.form-control-sm(type="text" placeholder="auth.login", [(ngModel)]="data.id")

        .form-group.row
            .col-3
                label.form-label.col-form-label Title
            .col
                input.form-control.form-control-sm(type="text" placeholder="App Title", [(ngModel)]="data.title")
        
        .form-group.row
            .col-3
                label.form-label.col-form-label Description
            .col
                textarea.form-control.form-control-sm(rows=10, placeholder="App Description", [(ngModel)]="data.description")
        
        hr

        .form-group.row(*ngIf="editor.path")
            .col
                button.btn.btn-outline-blue.btn-block((click)="editor.update()") Update
        
        .form-group.row(*ngIf="editor.path")
            .col
                button.btn.btn-outline-blue.btn-block((click)="download()") Download

        .form-group.row(*ngIf="editor.path")
            .col
                button.btn.btn-outline-red.btn-block((click)="editor.delete()") Delete

        .form-group.row(*ngIf="!editor.path")
            .col
                button.btn.btn-outline-blue.btn-block((click)="editor.update()") Create

    ngx-loading([show]="loading")
