mixin content()
    .container.pt-4.pb-4
        .page-header
            .row.align-items-center
                .col-auto
                    .page-pretitle SEASON WIZ
                    h2.page-title System Configuration

        .card 
            .card-body TEST
                
                       
include wiz/theme/layout
+layout
