include wiz/theme/navbar
include wiz/theme/component

mixin layout()
    doctype 5
    html(ng-app="app")
        head
            +header
            
        body.antialiased(ng-controller="content" style="background: white;" ng-cloak)
            script(src='/resources/wiz/theme/libs/tabler/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
            script(src='/resources/wiz/theme/libs/tabler/dist/libs/peity/jquery.peity.min.js')
            script(src='/resources/wiz/theme/libs/tabler/dist/js/tabler.min.js')

            script(src='/resources/wiz/theme/libs/monaco/min/vs/loader.js')
            script.
                require.config({ paths: { vs: '/resources/wiz/theme/libs/monaco/min/vs' } });

            +navbar
            +content
            +builder

            #modal-message.modal.fade(tabindex="-1")
                .modal-dialog.modal-sm(role='document')
                    .modal-content
                        .modal-body
                            .modal-title {{modal.config.title}}
                            div {{modal.config.message}}
                        .modal-footer
                            button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Close
                            button.btn(type='button' class="{{modal.config.btn_class}}" ng-click="modal.config.oncancel()") {{modal.config.btn_title}}