wiz-component-nav(title="Navbar")
.container
    router-outlet

wiz-portal-season-alert
.loading-zone(*ngIf="service.auth.status === null || service.loading.isshow")
    .loading-zone-container
        wiz-portal-season-loading-hexa
