mixin content()
    .container.pt-4.pb-4
        .page-header
            .row.align-items-center
                .col-auto
                    .page-pretitle SEASON WIZ
                    h2.page-title Plugin

                .col-auto.ml-auto.d-print-none
                    .d-flex
                        input.form-control(type="text" placeholder="Search..." ng-model="search.text" ng-change="event.search(search.text)" style="width: 240px;")
                        a.btn.btn-light.pr-4.pl-4.ml-2(style="width: 140px;" ng-click="modal.create()")
                            i.mr-2.fas.fa-plus
                            | Create

        .hr.mt-2

        .row.row-deck.mt-4
            .col-md-4(ng-repeat="item in list" ng-if="!item.hide")
                .card.d-flex.flex-column
                    .card-body.d-flex.flex-column
                        h3.card-title.mb-2
                            a(ng-href="/wiz/admin/plugin/editor/{{item.id}}") {{item.name}}
                        .text-muted {{item.description}}
                        .d-flex.align-items-center.pt-5.mt-auto
                            span.avatar.avatar-md(style="background-image: url({{item.author_icon}});" ng-if="item.author_icon")
                            span.avatar.avatar-md(ng-if="!item.author_icon") {{item.author_name ? item.author_name.toUpperCase().substring(0, 2) : 'UN'}}
                            .ml-3(style="line-height: 1.3;")
                                a.text-body(href="./profile.html") {{item.author_name ? item.author_name : 'Unknown'}}
                                small.d-block.text-muted {{item.version ? item.version : 'unknown version'}}
                            .ml-auto
                                a.icon.d-none.d-md-inline-block.ml-3.text-muted(href="#")
                                    i.fas.fa-cog
                                a.icon.d-none.d-md-inline-block.ml-3.text-muted(ng-href="/wiz/admin/plugin/editor/{{item.id}}")
                                    i.fas.fa-code

    #modal-create.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Plugin ID
                    div.mb-4
                        input.form-control(type="text" ng-model="modal.data.create.id" placeholder="Plugin ID" ng-change="event.change_id(modal.data.create.id)")

                    .modal-title Plugin Name
                    div
                        input.form-control(type="text" ng-model="modal.data.create.name" placeholder="Plugin Name")

                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-dark(type='button' ng-click="event.create()") Create

include wiz/theme/layout
+layout
