<div class="view-container">
    <ng-container *ngIf="tabs.length > 0">
        <div class="view-header" [sortablejs]="tabs" [sortablejsOptions]="sortableOption">
            <ng-container *ngFor="let tab of tabs">
                <div class="view-tab"
                    [class.relative]="config.selected.id == tab.id"
                    [class.active]="config.selected.id == tab.id && config.selected.view == tab.view"
                    (click)="tab.open(); $event.stopPropagation();">
                    <span>{{tab.title}}</span>
                    <div class="view-tab-close" (click)="tab.close(); $event.stopPropagation();">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="view-body" #editor=""></div>
    </ng-container>
</div>

