.wiz-page
    wiz-component-nav
    
    .wiz-content
        .wiz-view
            router-outlet

.block-page(*ngIf="service.auth.status === null || service.loading.isshow")
    wiz-portal-season-loading-hexa