mixin codearea(tab)
    div(style="overflow: hidden; height: 100%; width: 100%;" ng-if="loaded" ng-cloak ng-click="event.active('{$tab$}')")
        .code-select.bg-dark.d-flex(style="margin-top: -2px;")
            - if tab != "tab4"
                a.btn.btn-square.btn-sm.p-2(href="" ng-click="event.change('{$tab$}', 'kwargs')" ng-class="options.tab.{$tab$}_val == 'kwargs' ? 'btn-white' : 'btn-dark'") Controller
                a.btn.btn-square.btn-sm.p-2(href="" ng-click="event.change('{$tab$}', 'api')" ng-class="options.tab.{$tab$}_val == 'api' ? 'btn-white' : 'btn-dark'") API
                a.btn.btn-square.btn-sm.p-2(href="" ng-click="event.change('{$tab$}', 'socketio')" ng-class="options.tab.{$tab$}_val == 'socketio' ? 'btn-white' : 'btn-dark'") Socket API
                a.btn.btn-square.btn-sm.p-2(href="" ng-click="event.change('{$tab$}', 'html')" ng-class="options.tab.{$tab$}_val == 'html' ? 'btn-white' : 'btn-dark'") HTML
                a.btn.btn-square.btn-sm.p-2(href="" ng-click="event.change('{$tab$}', 'js')" ng-class="options.tab.{$tab$}_val == 'js' ? 'btn-white' : 'btn-dark'") JS
                a.btn.btn-square.btn-sm.p-2(href="" ng-click="event.change('{$tab$}', 'css')" ng-class="options.tab.{$tab$}_val == 'css' ? 'btn-white' : 'btn-dark'") CSS
                a.btn.btn-square.btn-sm.p-2(href="" ng-click="event.change('{$tab$}', 'preview')" ng-class="options.tab.{$tab$}_val == 'preview' ? 'btn-white' : 'btn-dark'") Preview
            a.btn.btn-square.btn-sm.p-2(href="" ng-click="event.change('{$tab$}', 'readme')" ng-class="options.tab.{$tab$}_val == 'readme' ? 'btn-white' : 'btn-dark'") README
            - if tab == "tab4"
                a.btn.btn-square.btn-sm.p-2(href="" ng-click="event.change('{$tab$}', 'debug')" ng-class="options.tab.{$tab$}_val == 'debug' ? 'btn-white' : 'btn-dark'") DEBUG

            - if tab != "tab4"
                select.form-select.form-select-sm.m-1.ml-auto(style="width: 120px;" ng-model="info.properties[options.tab.{$tab$}_val]" ng-if="codetypes[options.tab.{$tab$}_val].length > 0")
                    option(ng-repeat="code in codetypes[options.tab.{$tab$}_val]" value="{{code}}") {{code}}
            
            - if tab == "tab4"
                a.btn.btn-square.btn-dark.btn-sm.p-2.ml-auto(href="" ng-if="options.tab.{$tab$}_val == 'debug'" ng-click="event.clear_debug()") CLEAR

        div(style="height: calc(100% - 36px);")
            - if tab != "tab4"
                div(ng-show="['preview', 'readme'].includes(options.tab.{$tab$}_val) == false" ng-model="info[options.tab.{$tab$}_val]" ui-monaco-opts="monaco_properties.tab['{$tab$}']" ui-monaco)
            div(ng-show="options.tab.{$tab$}_val == 'readme'" ng-model="info.content" ui-tinymce-opts="tinymce_opt" ui-tinymce)
            .code-preview(ng-if="options.tab.{$tab$}_val == 'preview' && options.panel != 'commit'" style="max-width: none; width: 100%; height: 100%;")
                iframe.preview(style="height: 100%;" ng-show="!iframe_load")
                table(ng-if="iframe_load" style="width: 100%; height: 100%;")
                    tr 
                        td(style="text-align: center; vertical-align: middle;")
                            .spinner-grow.text-dark(style="width: 120px; height: 120px;")
            - if tab == "tab4"
                .debug-messages(ng-if="options.tab.{$tab$}_val == 'debug'" style="overflow: auto; max-width: none; width: 100%; height: 100%; background: #000; color: #fff; padding: 8px; line-height: 1;" ng-bind-html="trustAsHtml(debuglog)")
            div(ng-if="activetab != '{$tab$}' && ['preview'].includes(options.tab.{$tab$}_val) == false" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,.05); z-index: 9999;")

mixin content()
    .display-none(style="display: none;")
        input#import-file(type="file" accept=".json,application/json")

    .fixed-top
        header.navbar.navbar-expand-md.navbar-dark
            .container(style="max-width: none;")
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-menu')
                    span.navbar-toggler-icon

                .navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pr-0.pr-md-3
                    h2.m-0 WIZ Editor

                input.form-control.mr-2.text-white.if-desktop(type="text" ng-model="info.title" style="width: 160px; display: inline-block;")
                input.form-control.mr-2.text-white.if-desktop(type="text" ng-model="info.namespace" style="width: 160px; display: inline-block;")

                #navbar-menu.navbar.navbar-collapse.collapse
                    ul.navbar-nav
                    .navbar-nav.flex-row.order-md-last.mr-2(style="align-items: center;")
                        li.nav-item.p-0.pr-2(ng-repeat="(user, count) in session.users")
                            a.nav-link.p-1
                                span.nav-link-title(style="font-size: 10px;") {{user}}({{count}})

                        li.nav-item.p-0.pr-2(ng-if="commit.target.diff.id && options.panel == 'commit'")
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="commit.revert()")
                                span.nav-link-title(style="font-size: 14px;") Revert

                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="event.modal.delete()")
                                span.nav-link-title(style="font-size: 14px;") Delete

                        li.nav-item.p-0.pr-2
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(ng-click="event.save()")
                                span.nav-link-title(style="font-size: 14px;") Save

                        li.nav-item.p-0
                            a.nav-link.btn.btn-sm.text-dark.btn-white.btn-pill(href='/wiz/admin/list/{{info.category}}')
                                span.nav-link-title.bold(style="font-size: 14px;")
                                    i.fas.fa-times
    
    .bg-dark.text-center(ng-if="!loaded" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99999; padding-top: 40vh;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")
    
    div(data-split-pane data-split-pane-properties="properties.root")
        .bg-dark(data-split-pane-component data-width="360px")
            .menu-layout.p-3
                .btn-group.w-100.mb-3
                    button.btn(type="button" style="width: 50%;" class="{{options.panel == 'component' ? 'btn-white' : 'btn-dark'}}" ng-click="options.panel='component'") Config
                    button.btn(type="button" style="width: 50%;" class="{{options.panel == 'tree' ? 'btn-white' : 'btn-dark'}}" ng-click="options.panel='tree'") Widgets
                    button.btn(type="button" style="width: 50%;" class="{{options.panel == 'commit' ? 'btn-white' : 'btn-dark'}}" ng-click="options.panel='commit'") Commit

                .tree-container(ng-show="options.panel == 'commit'")
                    .card.card-sm.mb-4
                        .card-body.text-dark
                            label.form-label New Commit
                            input.form-control.mb-1(type='text' placeholder='Version Name' ng-model="commit.data.version_name" ng-enter="commit.event.save(commit.data)")
                            textarea.mb-2.form-control(placeholder='Commit Message' ng-model="commit.data.version_message" rows=3)
                            button.btn.btn-dark.btn-block(ng-click="commit.event.save(commit.data)") Commit

                    .card.card-sm.mb-3
                        table.table.board-table.table-hover.mb-0
                            tbody
                                tr.cursor-pointer(ng-repeat="item in commit.logs" class="{{item.version == commit.target.selected.version ? 'bg-green-lt' : (item.version == commit.target.diff.version ? 'bg-red-lt' : '')}}")
                                    td.w-1.p-1.pl-3.text-dark(style="font-size: 14px;")
                                        input(type="checkbox" ng-checked="commit.target.diff.version == item.version" ng-click="commit.event.diff(item)")
                                    td.w-1.p-1.pr-3.text-dark(style="font-size: 14px;" ng-click="commit.event.item(item)") {{item.version_name ? item.version_name : item.version}}
                                    td.p-1.pr-3.pl-3.text-dark(style="font-size: 14px; white-space: nowrap; overflow: hidden;" ng-click="commit.event.item(item)")
                                        span.text-muted {{item.version_message}}


                .tree-container(ng-show="options.panel == 'tree'")
                    .input-icon.mb-3
                        input.form-control#search(type="text" placeholder="Search…" style="color: #545d6d !important;" ng-model="searchvalue" ng-change="event.search(searchvalue)")
                        span.input-icon-addon
                            svg.icon(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round")
                                path(stroke="none" d="M0 0h24v24H0z")
                                circle(cx="10" cy="10" r="7")
                                line(x1="21" y1="21" x2="15" y2="15")

                    .root-tree(ng-repeat="item in tree")
                        .root-title
                            .d-flex
                                span(ng-click="options.panel_status[item.id] = (options.panel_status[item.id] ? false : true)")
                                    i.fas.fa-layer-group.mr-2
                                    | {{item.title}}
                                a.ml-auto.text-white(href="/wiz/admin/editor/new?category={{item.id}}")
                                    i.fas.fa-plus

                        .sub(ng-if="!options.panel_status[item.id]")
                            .sub-title(ng-repeat="sub in item.data" class="{{sub.id == info.id ? 'active' : ''}}" ng-click="event.treeitem(sub)" ng-if="!sub.hide")
                                table 
                                    tr 
                                        td.w-1(style="vertical-align: top;")
                                            i.fas.fa-code.mr-2
                                        td(style="line-height: 1;")
                                            span {{sub.title}}
                                            br
                                            span.namespace {{sub.namespace}}
                            .mb-2

                div(ng-show="options.panel == 'component'")
                    .card.card-sm.mb-3
                        .card-body
                            label.form-label Title
                            input.form-control(type='text' placeholder='App Title' ng-model="info.title")

                    .card.card-sm.mb-3
                        .card-body
                            label.form-label Namespace
                            input.form-control(type='text' placeholder='NAMESPACE' ng-model="info.namespace")

                    .card.card-sm.mb-3
                        .card-body
                            label.form-label Category
                            select.form-select(ng-model="info.category")
                                option(value="{{c.id ? c.id : c}}" ng-repeat="c in category") {{c.title ? c.title : (c.id ? c.id : c)}}

                    .card.card-sm.mb-3
                        .card-body
                            label.form-label Base Theme
                            select.form-select(ng-model="info.theme")
                                option(value="{{c}}" ng-repeat="c in theme") {{c}}
                    
                    .card.card-sm.mb-3
                        .card-body
                            label.form-label Route
                            input.form-control(type='text' placeholder='/board/<category>/list' ng-model="info.route")
                    
                    .card.card-sm.mb-3
                        .card-body
                            label.form-label View URI
                            input.form-control(type='text' placeholder='/board/notice/list' ng-model="info.viewuri")

                    .hr.bg-white
                    
                    h3.text-white Code Layout

                    .text-center.mb-4
                        .layout-selector.p-2(ng-class="options.layout == 1 ? 'active' : ''" ng-click="event.layout(1)")
                            .layout-icon
                                .layout-row
                                    .layout-column

                        .layout-selector.p-2(ng-class="options.layout == 2 ? 'active' : ''" ng-click="event.layout(2)")
                            .layout-icon
                                .layout-row
                                    .layout-column
                                    .layout-column

                        .layout-selector.p-2(ng-class="options.layout == 3 ? 'active' : ''" ng-click="event.layout(3)")
                            .layout-icon
                                .layout-row
                                    .layout-column
                                    .layout-column
                                    .layout-column
                        br
                        .layout-selector.p-2(ng-class="options.layout == 4 ? 'active' : ''" ng-click="event.layout(4)")
                            .layout-icon.rows-2
                                .layout-row
                                    .layout-column
                                .layout-row
                                    .layout-column

                        .layout-selector.p-2(ng-class="options.layout == 5 ? 'active' : ''" ng-click="event.layout(5)")
                            .layout-icon.rows-2
                                .layout-row
                                    .layout-column
                                    .layout-column
                                .layout-row
                                    .layout-column

                        .layout-selector.p-2(ng-class="options.layout == 6 ? 'active' : ''" ng-click="event.layout(6)")
                            .layout-icon.rows-2
                                .layout-row
                                    .layout-column
                                    .layout-column
                                    .layout-column
                                .layout-row
                                    .layout-column

                    .button-container
                        button.btn.btn-white.btn-block.mb-3(ng-click="event.keymaps()") 
                            i.fas.fa-keyboard
                            span.ml-2 Shortcuts

                    .hr.bg-white

                    .button-container
                        button.btn.btn-white.btn-block.mb-3(ng-click="event.select_file()") 
                            i.fas.fa-upload
                            span.ml-2 Import

                        a.btn.btn-white.btn-block.mb-3(href="/wiz/export/{{ info.id }}" target="_blank")
                            i.fas.fa-download
                            span.ml-2 Export

        div(data-split-pane-divider data-width="0px")
        
        #editor-area(data-split-pane-component)
            div(ng-if="options.panel == 'commit'" style="width: 100%; height: 100%;")
                div(style="width: 100%; height: 100%;")
                    .code-select.bg-dark.d-flex(style="margin-top: -2px;")
                        a.btn.btn-square.btn-sm.p-2(href="" ng-click="commit.change('kwargs')" ng-class="commit.view == 'kwargs' ? 'btn-white' : 'btn-dark'") Controller
                        a.btn.btn-square.btn-sm.p-2(href="" ng-click="commit.change('api')" ng-class="commit.view == 'api' ? 'btn-white' : 'btn-dark'") API
                        a.btn.btn-square.btn-sm.p-2(href="" ng-click="commit.change('socketio')" ng-class="commit.view == 'socketio' ? 'btn-white' : 'btn-dark'") Socket API
                        a.btn.btn-square.btn-sm.p-2(href="" ng-click="commit.change('html')" ng-class="commit.view == 'html' ? 'btn-white' : 'btn-dark'") HTML
                        a.btn.btn-square.btn-sm.p-2(href="" ng-click="commit.change('js')" ng-class="commit.view == 'js' ? 'btn-white' : 'btn-dark'") JS
                        a.btn.btn-square.btn-sm.p-2(href="" ng-click="commit.change('css')" ng-class="commit.view == 'css' ? 'btn-white' : 'btn-dark'") CSS

                    div(ng-model="commit.diff" ui-monaco-opts="commit.monaco" ui-monaco-diff)

            div(data-split-pane data-split-pane-properties="properties.horizonal" ng-show="options.panel != 'commit'")
                div(data-split-pane-component data-height="100%")
                    div(data-split-pane data-split-pane-properties="properties.vertical_1_1")
                        div(data-split-pane-component data-width="34%")
                            +codearea('tab1')
                        div(data-split-pane-divider data-width="3px")
                        div(data-split-pane-component data-width="66%")
                            div(data-split-pane data-split-pane-properties="properties.vertical_1_2")
                                div(data-split-pane-component data-width="50%")
                                    +codearea('tab2')
                                div(data-split-pane-divider data-width="3px")
                                div(data-split-pane-component data-width="50%")
                                    +codearea('tab3')
                div(data-split-pane-divider data-height="3px")
                div(data-split-pane-component data-height="0")
                    +codearea('tab4')

            .bg-dark.text-center(ng-if="!loading" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 99999; padding-top: 40vh;")
                .spinner-grow.text-white(style="width: 60px; height: 60px;")       

    #modal-delete.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Delete
                    div Once deleted, it cannot be restored. Are you sure you want to delete?
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-danger(type='button' ng-click="event.delete()") Delete

    #modal-delete-file.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Delete
                    div Once deleted, it cannot be restored. Are you sure you want to delete?
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-danger(type='button' ng-click="framework.delete()") Delete

    #modal-keymaps.modal.fade(tabindex="-1")
        .modal-dialog(role='document' style="max-width: 720px;")
            .modal-content
                .modal-header
                    .modal-title Shortcuts
                .modal-body.m-0
                    table.table.table-bordered.table-hover 
                        thead 
                            th.text-center Shortcut
                            th.text-center Description
                        tbody
                            tr 
                                th.text-center
                                    button.btn.btn-sm.btn-dark Ctrl(CMD)
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark S
                                td.text-center Save
                            tr 
                                th.text-center
                                    button.btn.btn-sm.btn-dark Alt
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark Z, X
                                td.text-center move previous/next tab
                             tr 
                                th.text-center
                                    button.btn.btn-sm.btn-dark Alt
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark A, S
                                td.text-center move previous/next code view
                            tr 
                                th.text-center
                                    button.btn.btn-sm.btn-dark Alt
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark 1, 2, 3
                                td.text-center Panel change (config/widget/framework)
                            tr 
                                th.text-center
                                    button.btn.btn-sm.btn-dark Alt
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark J, K
                                td.text-center Previous/Next wiz component
                            tr 
                                th.text-center
                                    button.btn.btn-sm.btn-dark Alt
                                    i.fas.fa-plus.ml-1.mr-1
                                    button.btn.btn-sm.btn-dark F
                                td.text-center Find Widgets (in widgets tab)
                            
                .modal-footer
                    button.btn.btn-link.link-secondary.ml-auto(type='button' data-dismiss='modal') Cancel

include wiz/theme/layout-empty
+layout
