mixin content()
    div(style="display: none;")
        form#file-form
            input#file-upload.form-control(type='file' name='file[]' multiple)

    .bg-dark.text-center(ng-if="loading.status" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 99999; padding-top: 40vh; opacity: .6;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")
    
    .main-panel.container.p-0(style="height: calc(100% - 168px);")
        div(data-split-pane data-split-pane-properties="configuration.root")
            div(data-split-pane-component data-width="360px")
                div(style="height: 100%;")
                    .card-body.p-3(style="height: 100%; overflow: auto;")
                        script(type="text/ng-template" id="tree.html").
                            <div class="filetree">
                                <div class="title d-flex {{viewer.data.name == item.name && viewer.data.path == item.path ? 'active' : '' }}" ng-click="tree.load(item)">
                                    <span>
                                        <i class="fas {{item.icon}} mr-1"></i>
                                        <span>{{item.display ? item.display : item.name}}</span>
                                    </span>
                                </div>
                                <div class="sub">
                                    <div ng-repeat="item in item.sub" ng-include="'tree.html'"></div>
                                </div>
                            </div>
                        
                        .tree-container
                            .root-tree(ng-repeat="item in tree.data" ng-include="'tree.html'")
        
            div(data-split-pane-divider data-width="1px")
            
            div(data-split-pane-component style="height: 100%; overflow: hidden;")
                .panel-header.p-1.pr-0.pl-2
                    +topbutton

                .panel-editor(ng-if="viewer.mode == 'folder'" style="height: 100%; overflow: auto;" ng-drop="viewer.drop")
                    div(style="margin: 0 -12px;" ng-if="upload.status")
                        .progress.progress-sm
                            .progress-bar.bg-orange(style="width: {{upload.process}}%;" role='progressbar' aria-valuenow='38' aria-valuemin='0' aria-valuemax='100')

                    table.table.table-hover.mb-6
                        tr(ng-if="viewer.has_parent()" ng-click="viewer.parent()")
                            td.pt-0.pb-0.cursor-pointer(colspan=3)
                                span.mr-2
                                    svg.icon(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round")
                                        path(stroke="none" d="M0 0h24v24H0z" fill="none")
                                        path(d="M18 18h-6a3 3 0 0 1 -3 -3v-10l-4 4m8 0l-4 -4")
                                span ...

                        tr.target-file(ng-repeat="item in viewer.data.sub" ng-click="viewer.check(item)")
                            td.w-1.cursor-pointer.pr-2(style="white-space: nowrap;")
                                input.mr-2(type="checkbox" ng-model="item.checked" ng-if="!item.hide_menu")
                                i.fas(class="{{item.icon}}")

                            td.pl-0.pr-0(ng-dblclick="tree.load(item)")
                                span.title(ng-if="!item.edit" ng-click="tree.load(item)") {{item.name}}
                                input.form-control.form-control-sm.text-dark(ng-if="item.edit" ng-model="viewer.selected.rename" style="color: #000 !important; display: inline-block;" ng-enter="viewer.save_name()")

                            td.w-1.pl-0.text-right(style="white-space: nowrap;" ng-if="!item.hide_menu")
                                span.text-dark(ng-if="item.edit" style="font-size: 12px; width: 14px;" ng-click="viewer.save_name()")
                                    i.fas.fa-check-circle
                                span.text-dark(ng-if="!item.edit" style="font-size: 12px; width: 14px;" ng-click="viewer.change_name(item)")
                                    i.fas.fa-italic
                                span.text-dark.ml-1(ng-if="!item.edit" style="font-size: 12px; width: 14px;" ng-click="modal.delete(item)")
                                    i.fas.fa-trash

                .panel-editor(ng-if="viewer.mode == 'image'" style="height: 100%; overflow: auto;")
                    img(ng-src="{{viewer.data.url}}" style="width: 100%;")

                .panel-editor(ng-if="viewer.mode == 'editor' && viewer.editor.status" style="height: 100%; overflow: hidden;")
                    div(ng-model="viewer.data.text" ui-monaco-opts="viewer.editor.properties" ui-monaco)

    #modal-delete.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Delete
                    div Once deleted, it cannot be restored. Are you sure you want to delete?
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-danger(type='button' ng-click="viewer.delete(modal.data.delete_selected)") Delete

    +footer