doctype 5
include wiz/theme/component

html(ng-app="app")
    head
        +header
        
    body.antialiased
        script(src='/resources/wiz/theme/libs/tabler/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
        script(src='/resources/wiz/theme/libs/tabler/dist/libs/peity/jquery.peity.min.js')
        script(src='/resources/wiz/theme/libs/tabler/dist/js/tabler.min.js')

        .page(ng-controller="content" ng-cloak)
            .preview
                {$ view $}

            style.
                html,
                body {
                    overflow: auto;
                }

                body {
                    padding: 32px;
                }

                .page {
                    background: transparent;
                }

        +builder