mixin content()
    .container.pt-4.pb-4
        .page-header
            .row.align-items-center
                .col-auto
                    .page-pretitle SEASON WIZ
                    h2.page-title Routes

                .col-auto.ml-auto.d-print-none
                    .d-flex
                        input.form-control(type="text" placeholder="Search..." ng-model="search.text" ng-change="event.search(search.text)" style="width: 240px;")
                        a.btn.btn-light.pr-4.pl-4.ml-2(href='/wiz/admin/workspace/routes/editor/new' style="width: 140px;") 
                            i.mr-2.fas.fa-plus
                            | Create

        .overflow-x
            table.table.board-table.table-hover.mb-0
                thead 
                    tr
                        th.text-left.width-1.pr-2.pl-2 Route
                        th.text-left.pr-2.pl-2 Title
                        th.text-center.width-2.pr-2.pl-2 Updated

                tbody
                    tr(ng-if="list.length == 0")
                        td.text-center(colspan=3) Route is not finded. create Route.

                    tr(ng-repeat="item in list" ng-if="!item.hide")
                        td.text-left.width-1.pr-2.pl-2
                            a(ng-href="/wiz/admin/workspace/routes/editor/{{item.package.id}}") {{item.package.route}}
                        td.pr-2.pl-2
                            a(ng-href="/wiz/admin/workspace/routes/editor/{{item.package.id}}") {{item.package.title}}
                        td.text-center.width-2.pr-2.pl-2 {{item.package.updated.substring(0,10)}}                
                       
include wiz/theme/layout
+layout
