.card {
    border-radius: 16px;

    > *:first-child {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    > *:last-child {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}