.view-statusbar([class]="service.statusbar.data ? 'statusbar-' + service.statusbar.data.mode : ''")
    .view-title
        i.fa-solid.fa-globe.mr-1
        span {{status.hostname}}

    .view-info
        i.fa-solid.fa-code-branch.mr-1
        span {{status.project}}
    
    .view-info
        i.fa-brands.fa-python.mr-1
        span {{status.python}}

    .view-info
        i.fa-solid.fa-rocket.mr-1
        span wiz-{{status.wiz}}
    
    .ml-auto
    
    .view-message(*ngIf="service.statusbar.data")
        .message-item
            span {{service.statusbar.data.message}}
            i.fa-solid.fa-circle-check.ml-2(*ngIf="service.statusbar.data.mode == 'info'")
            i.fa-solid.fa-circle-question.ml-2(*ngIf="service.statusbar.data.mode == 'warning'")
            i.fa-solid.fa-triangle-exclamation.ml-2(*ngIf="service.statusbar.data.mode == 'error'")
            .spinner-border.spinner-border-sm.ml-2(*ngIf="service.statusbar.data.mode == 'process'")
