mixin content()
    .container.pt-4.pb-4(style="max-width: 920px;")
        .page-header
            .row.align-items-center
                .col-auto
                    .page-pretitle WIZ Code Flow
                    h2.page-title Active Branch

                .col-auto.ml-auto.d-print-none
                    .d-flex
                        a.btn.btn-light.pr-4.pl-4.ml-2(style="width: 140px;" ng-click="modal.create()") 
                            i.mr-2.fas.fa-code-branch
                            | Create

        .overflow-x
            table.table.board-table.table-hover.mb-0
                thead 
                    tr
                        th.text-center.width-1
                        th.text-left.pr-2.pl-2 Branch
                        th.text-center.width-1.pr-2.pl-2 Author
                        th.text-center.width-1.pr-2.pl-2

                tbody
                    tr(ng-repeat="item in branch.list" class="{{branch.id == item.name ? 'bg-dark-lt' : ''}}")
                        td.text-center.width-1
                            button.btn.btn-sm(ng-click="event.checkout(item.name)" class="{{ branch.id != item.name ? 'btn-light' : 'btn-dark' }}")
                                i.fas.fa-check-circle

                        td.text-left.pr-2.pl-2 
                            span {{item.name}}
                            span.badge.badge-sm.bg-dark-lt.ml-2(ng-if="item.changed")
                                i.fas.fa-exchange-alt
                                span.ml-1 {{item.changed}}
                        
                        td.text-center.width-1.pr-2.pl-2
                            a(href="" ng-click="modal.commiter(item)") {{item.author.name}}

                        td.text-right.width-1.pr-2.pl-2
                            button.btn.btn-sm.btn-light.ml-1(ng-click="modal.delete(item)" ng-if="item.name != branch.id && item.name != 'master'")
                                i.fas.fa-history
                                span.ml-1 archived

                            button.btn.btn-sm.btn-light.ml-1(ng-click="modal.merge(item)")
                                i.fas.fa-code-branch
                                span.ml-1 Pull Request

                            a.btn.btn-sm.btn-light.ml-1(ng-href="/wiz/admin/branch/commit/diff/{{item.name}}")
                                i.fas.fa-code-branch
                                span.ml-1 Commit

        .page-header.mt-5
            .row.align-items-center
                .col-auto
                    .page-pretitle WIZ Code Flow
                    h2.page-title Pull Request

        .overflow-x
            table.table.board-table.table-hover.mb-0
                thead 
                    tr
                        th.text-left.pr-2.pl-2 Pull Request
                        th.text-center.width-1.pr-2.pl-2 Author
                        th.text-center.width-1.pr-2.pl-2

                tbody
                    tr(ng-repeat="item in branch.pull_request")
                        td.text-left.pr-2.pl-2 
                            span {{item.from}}
                            i.fas.fa-arrow-alt-circle-right.mr-2.ml-2
                            span {{item.to}}
                        td.text-center.width-1.pr-2.pl-2
                            span {{item.author.name}}
                        td.text-right.width-1.pr-2.pl-2
                            button.btn.btn-sm.btn-light.ml-1(ng-click="modal.delete(item)" ng-if="item.name != branch.id && item.name != 'master'")
                                i.fas.fa-trash
                                span.ml-1 Delete
                            a.btn.btn-sm.btn-light.ml-1(ng-href="/wiz/admin/branch/merge/diff/{{item.from}}/{{item.to}}")
                                i.fas.fa-code-branch
                                span.ml-1 Merge

        .page-header.mt-5
            .row.align-items-center
                .col-auto
                    .page-pretitle WIZ Code Flow
                    h2.page-title Stale Branch

        .overflow-x
            table.table.board-table.table-hover.mb-0
                thead 
                    tr
                        th.text-center.width-1
                        th.text-left.pr-2.pl-2 Branch
                        th.text-center.width-1.pr-2.pl-2

                tbody
                    tr(ng-repeat="item in branch.stale")
                        td.text-center.width-1
                            button.btn.btn-sm(ng-click="event.checkout(item.name)" class="{{ branch.id != item.name ? 'btn-light' : 'btn-dark' }}")
                                i.fas.fa-check-circle
                        td.text-left.pr-2.pl-2 
                            span {{item.name}}
                        td.text-right.width-1.pr-2.pl-2
                            button.btn.btn-sm.btn-light.ml-1(ng-click="modal.delete(item)" ng-if="item.name != branch.id && item.name != 'master'")
                                i.fas.fa-trash
                                span.ml-1 Delete

    #modal-delete.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title(ng-if="modal.data.delete.working") Archived active branch
                    .modal-title(ng-if="!modal.data.delete.working") Delete
                    div Once deleted, it cannot be restored. Are you sure you want to delete?
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-danger(type='button' ng-click="event.delete()" ng-if="modal.data.delete.working") Archived
                    button.btn.btn-danger(type='button' ng-click="event.delete()" ng-if="!modal.data.delete.working") Delete  

    #modal-merge-branch.modal.fade(tabindex="-1")
        .modal-dialog(role='document')
            .modal-content
                .modal-body
                    .modal-title Merge Branch
                    .row.mb-4 
                        .col-md-5
                            select.form-select(ng-model="modal.data.merge.branch")
                                option(value="" ng-if="!modal.data.merge.branch") select branch
                                option(ng-repeat="b in branch.list" value="{{b.name}}") {{b.name}}
                        .col-md-2.text-center 
                            i.fas.fa-arrow-alt-circle-right
                        .col-md-5
                            select.form-select(ng-model="modal.data.merge.base_branch")
                                option(value="" ng-if="!modal.data.merge.base_branch") select branch
                                option(ng-repeat="b in branch.list" value="{{b.name}}") {{b.name}}
                        
                    .modal-title Author Name
                    div.mb-4
                        input.form-control(type="text" ng-model="modal.data.merge.name" placeholder="Author Name")
                    
                    .modal-title Author Email
                    div 
                        input.form-control(type="email" ng-model="modal.data.merge.email" placeholder="Author Email")
                    
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-dark(type='button' ng-click="event.pull_request(modal.data.merge.branch, modal.data.merge.base_branch)") Pull Request

    #modal-new-branch.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Branch Name
                    div.mb-4
                        input.form-control(type="text" ng-model="modal.data.create.branchname" placeholder="Branch Name")
                    
                    .modal-title Base Branch
                    div.mb-4
                        select.form-select(ng-model="modal.data.create.base_branch")
                            option(value="" ng-if="!modal.data.create.base_branch") select branch
                            option(ng-repeat="b in branch.list" value="{{b.name}}") {{b.name}}

                    .modal-title Author Name
                    div.mb-4
                        input.form-control(type="text" ng-model="modal.data.create.name" placeholder="Author Name")
                    
                    .modal-title Author Email
                    div 
                        input.form-control(type="email" ng-model="modal.data.create.email" placeholder="Author Email")
                    
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-dark(type='button' ng-click="event.create(modal.data.create.branchname, modal.data.create.base_branch)") Create

    #modal-change-commiter.modal.fade(tabindex="-1")
        .modal-dialog.modal-sm(role='document')
            .modal-content
                .modal-body
                    .modal-title Branch
                    div.mb-4
                        select.form-select(ng-model="modal.data.commiter.branch")
                            option(value="" ng-if="!modal.data.commiter.branch") select branch
                            option(ng-repeat="b in branch.list" value="{{b.name}}") {{b.name}}

                    .modal-title Author Name
                    div.mb-4
                        input.form-control(type="text" ng-model="modal.data.commiter.name" placeholder="Author Name")
                    
                    .modal-title Author Email
                    div 
                        input.form-control(type="email" ng-model="modal.data.commiter.email" placeholder="Author Email")
                    
                .modal-footer
                    button.btn.btn-link.link-secondary.mr-auto(type='button' data-dismiss='modal') Cancel
                    button.btn.btn-dark(type='button' ng-click="event.change_commiter(modal.data.commiter.branch)") Change

    .bg-dark.text-center(ng-if="loading" style="width: 100vw; height: 100vh; position: absolute; top: 0; left: 0; z-index: 99999; opacity: .6; padding-top: 40vh;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")

include wiz/theme/layout
+layout
