.editor-info
    .editor-info-container.area-round
        h3 Route Info

        .form-group.row
            .col-3
                label.form-label.col-form-label Title
            .col
                input.form-control.form-control-sm(type="text" placeholder="Route Title", [(ngModel)]="data.title")
        
        .form-group.row
            .col-3
                label.form-label.col-form-label ID
            .col
                .input-group
                    span.input-group-text(*ngIf="editor.id_prefix") {{editor.id_prefix}}
                    input.form-control.form-control-sm(type="text" placeholder="auth.login", [(ngModel)]="data.id")

        .form-group.row
            .col-3
                label.form-label.col-form-label Route
            .col
                .input-group
                    span.input-group-text(*ngIf="editor.route_prefix") {{editor.route_prefix}}
                    input.form-control.form-control-sm(type="text" placeholder="/app/<path:path>", [(ngModel)]="data.route")

        .form-group.row
            .col-3
                label.form-label.col-form-label Category
            .col
                input.form-control.form-control-sm(type="text" placeholder="auth", [(ngModel)]="data.category")
        
        .form-group.row
            .col-3
                label.form-label.col-form-label Preview URL
            .col
                input.form-control.form-control-sm(type="text" placeholder="/main", [(ngModel)]="data.viewuri")
        
        .form-group.row.mb-3
            label.form-label.col-3.col-form-label Controller
            .col
                .form-selectgroup
                    label.form-selectgroup-item
                        input.form-selectgroup-input(type="radio", name="ctrl-{{editor.id}}", value="", [(ngModel)]="data.controller")
                        span.form-selectgroup-label
                            span None
                    label.form-selectgroup-item(*ngFor="let item of ctrls")
                        input.form-selectgroup-input(type="radio", name="ctrl-{{editor.id}}", value="{{item}}", [(ngModel)]="data.controller")
                        span.form-selectgroup-label
                            span {{item}}

        hr

        .form-group.row(*ngIf="editor.path")
            .col
                button.btn.btn-outline-blue.btn-block((click)="editor.update()") Update

        .form-group.row(*ngIf="editor.path")
            .col
                button.btn.btn-outline-red.btn-block((click)="editor.delete()") Delete

        .form-group.row(*ngIf="!editor.path")
            .col
                button.btn.btn-outline-blue.btn-block((click)="editor.update()") Create

    ngx-loading([show]="loading")