<div class="view-statusbar" [ngClass]="statusColor()">
    <div class="view-title" *ngIf="title.text">
        <i class="mr-2" *ngIf="title.icon" [ngClass]="title.icon"></i>
        <span>{{title.text}}</span>
    </div>
    
    <div class="ml-auto"></div>
    
    <div class="view-message" *ngIf="alert.data.length == 1">
        <div class="message-item" (click)="alert.data[0].hide(1000);">
            <span>{{ alert.data[0].message }}</span>
            <div class="spinner-border spinner-border-sm ml-2"></div>
        </div>
    </div>

    <div class="view-message" *ngIf="alert.data.length > 1" (click)="alertToggle()">
        <ng-container *ngIf="!statusOpened">
            <div class="message-item">
                <span>{{ alert.display() }}</span>
                <div class="spinner-border spinner-border-sm ml-2"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="statusOpened">
            <div class="message-item" *ngFor="let log of alert.load()" (click)="log.hide(1000); $event.stopPropagation();">
                <span>{{log.message}}</span>
                <div class="spinner-border spinner-border-sm ml-2"></div>
            </div>
        </ng-container>
    </div>
</div>

