include wiz/admin/setting/navi

mixin content()
    .main-panel.container.p-0(style="height: calc(100% - 112px);")
        div(data-split-pane data-split-pane-properties="properties.root")
            div(data-split-pane-component data-width="250px")
                +setting_nav

            div(data-split-pane-divider data-width="1px")
            
            div(data-split-pane-component style="height: 100%; overflow: hidden;")
                .panel-editor(style="height: 100%; overflow: auto;")
                    .p-4.pr-6.pl-6
                        .page-header
                            .row.align-items-center
                                .col-auto
                                    h2.page-title Production Cache
                        
                        table.table.table-hover.board-table
                            thead 
                                tr
                                    th.text-center.width-1 Cache Key
                                    th.text-center.width-1 Version
                                    th.text-center.width-1 Timestamp
                                    th.text-center

                            tbody
                                tr(ng-repeat="item in data.status.prod")
                                    td.width-1 {{item.key}}
                                    td.text-center.width-1 {{item.version_name}}
                                        span.text-muted.ml-1 ({{item.version}})
                                    td.text-center.width-1 {{item.cachetime}}
                                    td

                        .page-header.mt-5
                            .row.align-items-center
                                .col-auto
                                    h2.page-title Development Cache
                        
                        table.table.table-hover.board-table
                            thead 
                                tr
                                    th.text-center.width-1 Cache Key
                                    th.text-center.width-1 Version
                                    th.text-center.width-1 Timestamp
                                    th.text-center

                            tbody
                                tr(ng-repeat="item in data.status.dev")
                                    td.width-1 {{item.key}}
                                    td.text-center.width-1 {{item.version_name}}
                                        span.text-muted.ml-1 ({{item.version}})
                                    td.text-center.width-1 {{item.cachetime}}
                                    td

                        .page-header.mt-5
                            .row.align-items-center
                                .col-auto
                                    h2.page-title Framework Cache
                        
                        table.table.table-hover.board-table
                            thead 
                                tr
                                    th.text-center.width-1.pr-5.pl-5 Cache Key
                                    th.text-center.width-1 Variable Type
                                    th.text-center

                            tbody
                                tr(ng-repeat="item in data.status.etc")
                                    td.width-1 {{item.key}}
                                    td.text-center.width-1(ng-bind-html="item.type")
                                    td
                                    
                        
    .bg-dark.text-center(ng-if="!loaded" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99999; padding-top: 40vh;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")
                
include wiz/theme/layout
+layout
