include wiz/admin/setting/navi

mixin content()
    .main-panel.container.p-0(style="height: calc(100% - 112px);")
        div(data-split-pane data-split-pane-properties="properties.root")
            div(data-split-pane-component data-width="250px")
                +setting_nav

            div(data-split-pane-divider data-width="1px")
            
            div(data-split-pane-component style="height: 100%; overflow: hidden;")
                .panel-editor(style="height: 100%; overflow: auto;")
                    .p-4.pr-6.pl-6
                        .page-header
                            .row.align-items-center
                                .col-auto
                                    h2.page-title Deployment

                        .info-form.row.first-child
                            .col-md-3 
                                h4 Version Name
                            .col-md-9
                                input.form-control(type="text" placeholder="1.0.0" ng-model="data.deploy.version_name")
                        
                        .info-form.row
                            .col-md-3 
                                h4 Version Description
                            .col-md-9
                                textarea.form-control(rows=5 placeholder="Message" ng-model="data.deploy.version_message")

                        .info-form.row
                            .col-md-12
                                button.btn.btn-block.btn-dark(ng-click="event.deploy()") Deploy

                        .page-header.mt-5
                            .row.align-items-center
                                .col-auto
                                    h2.page-title History 
                        
                        table.table.table-hover.board-table
                            thead 
                                tr
                                    th.text-center.width-1 Version
                                    th.text-center.width-1 Updated
                                    th.text-center.width-1 Components
                                    th.text-center Description
                                    th.text-center.width-1

                            tbody
                                tr(ng-repeat="item in data.history" class="{{item.deploy ? 'bg-green-lt' : ''}}")
                                    td.text-center.width-1 {{item.version_name ? item.version_name : item.version}}
                                    td.text-center.width-1.text-muted {{item.updated}}
                                    td.text-center.width-1 {{item.cnt}}
                                    td {{item.version_message}}
                                    th.text-right.width-1
                                        button.btn.btn-sm.btn-outline-dark.ml-1(ng-if="item.version != 'master'" ng-click="event.set_version(item)")
                                            i.fas.fa-history(style="width: 18px; text-align: center;")
                                        button.btn.btn-sm.btn-outline-dark.ml-1(ng-if="item.version != 'master'" ng-click="event.delete(item)")
                                            i.fas.fa-trash(style="width: 18px; text-align: center;")
                                        a.btn.btn-sm.btn-outline-dark.ml-1(ng-href="/wiz/admin/api/setting/deploy/backup?version={{item.version}}&version_name={{item.version_name}}" target="_blank")
                                            i.fas.fa-cloud-download-alt(style="width: 18px; text-align: center;")
                        
    .bg-dark.text-center(ng-if="!loaded" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99999; padding-top: 40vh;")
        .spinner-grow.text-white(style="width: 60px; height: 60px;")
                
include wiz/theme/layout
+layout
