mixin content()
    .preview
        {$ view $}

    style.
        html,
        body {
            overflow: auto;
        }

        body {
            padding: 32px;
        }

        .page {
            background: transparent;
        }

include theme/layout-wiz
+layout