mixin layout()
    doctype 5

    html
        head
            title SEASON Framework Demo

            meta(charset='utf-8')
            meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
            meta(http-equiv='X-UA-Compatible' content='ie=edge')

            meta(name='msapplication-TileColor' content='#206bc4')
            meta(name='theme-color' content='#206bc4')
            meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
            meta(name='apple-mobile-web-app-capable' content='yes')
            meta(name='mobile-web-app-capable' content='yes')
            meta(name='HandheldFriendly' content='True')
            meta(name='MobileOptimized' content='320')
            
            link(href='/resources/theme/less/theme.less' rel='stylesheet')

        body.antialiased
            .content
                +content

